<!-- header.component.html -->
<header class="header">
    <div class="logo">
      <img src="assets/balance.png" />
    </div>
    <nav class="nav-links">
      <a href="#sobre-nos">Sobre Nós</a>
      <a href="#servicos">Serviços</a>
      <a href="#contato">Contato</a>
    </nav>
    <div class="logo">
      <a href="https://www.linkedin.com/"><img id="redesS1" src="assets/linkedin.png"/></a>
      <a href="https://www.facebook.com"><img  id="redesS2" src="assets/facebook.png"/></a>
    </div>
  
  </header>
  