<footer id="footerComponent">

    <p>Contato (61) 3032-3435</p>
    <p>Horário de Funcionamento de seg. à sexta das 09:00 às 18:00.</p>
    <p>Endereço: 20 W 34th St., New York, NY 10001, Estados Unidos</p>
    <p>Ed. Sonho Realizado, Americana - SP, 323, 29ª Andar</p>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.600427738955!2d-73.98685492397247!3d40.74881697138811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1spt-BR!2sbr!4v1731709131344!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <a [href]="'https://www.google.com/maps?q=' + latitude + ',' + longitude" target="_blank">Ver no Google Maps</a>


</footer>